.button {
    appearance: none;
    background-color: #7165bbf0;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button:hover {
    background-color: #5e53a7f0;
  }
  
  .button:focus {
    box-shadow: #612ea466 0 0 0 3px;
    outline: none;
  }
  
  .button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button:active {
    background-color: #544a94;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

.avatar {
  border: 20px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  max-width: 400px;
  height: auto;
}

.background {
  background-color: #181829 ;
}

p {
  color: white;
}

.top_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #37398F;
  padding: 10px;
  border-radius: 10px;
}

.compte_utilisateur {
  display: flex;
  justify-content: space-around;
  background-color: #333356;
  border-radius: 10px;
}

.img_utilisateur {
  max-width: 25%;
  height: auto;
}

.boite_tamagotchi {
  background-color: #333356;
  border-radius: 15px;
}

.application {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.info_tama {
  display: flex;
  flex-direction: end;
  justify-content: space-evenly;
}

boite_d {
  background-color: #333356;
  border-radius: 10px;
}


.actions {
  display: flex;
  flex-direction: end;
  justify-content: space-evenly;
}


boite_g {
  height: 31vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 10px;
}

/* je n'ai aps fait le css du body*/
.progress {
  background-color:grey;
  border-radius : 0px 20px 20px 0px;
  height: 40px;
  width: 500px;
  
}

.progress-done {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: repeating-linear-gradient(to left,
  #27d1da,
  #34a4d5,
  #156aee);
  box-shadow: 0 5px 5px -6px #156aee, 0 3px 7px #34a4d5;
  border-radius: 0px 20px 20px 0px;
  color: #fff;
  height: 100%;
  width: 0%;
  transition: 1s ease 0.3s;
}

.stat {
  display: flex;
  margin: 12px;
}

.texteStat {
  margin-left: 12px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}