<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Page d'accueil du Tamagotchi</title>
        <!-- Jour 1, je sais plus coder en html, la galère -->
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
        
    </head>
    <body class="background">
        
        <header class="top_bar">
            <logo>Ahahhaha c le logo</logo>
            <div class="compte_utilisateur">
                <img src="{{ url_for('static', path='Assets/utilisateur.png') }}" class="img_utilisateur">
                <p>Parent</p>
            </div>
        </header>

        <application class="application">
            <boite_g class="boite_g">
                
                <div class="stat">
                    <div class="progress">
                        <div id="progress-done1"><p class="texteStat">Santé</p></div>
                        
                    </div>
                </div>

                
                <div class="stat">
                    <div class="progress">
                        <div id="progress-done2" ><p class="texteStat">Nourriture</p></div>
                        
                    </div>
                </div>

                
                <div class="stat">
                    <div class="progress">
                        <div id="progress-done3"><p class="texteStat">Hydratation</p></div>
                    </div>
                </div>

                
                <div class="stat">
                    <div class="progress">
                        <div id="progress-done4" ><p class="texteStat">Divertissement</p></div>
                    </div>
                </div>
                
            </boite_g>

            <boite_d>
                    <img src="{{ url_for('static', path='Assets/image.png') }}" src="" alt="bmo_calme.png" id="face" class="avatar" onclick="gratouilles()">
                <div class="info_tama">
                    <p id="nom">Identité</p>
                    <p id="statut">Etat</p>
                </div>
                
        </application>
            </boite_d>
            <actions class="actions">
                    <button class="button" onclick="nourrir()">Nourrir</button>
                    <button class="button" onclick="boire()">Boire</button>
                    
            </actions>
            <script src="{{ url_for('static', path='/script.js') }}"></script>
    </body>
</html>

