<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Page d'accueil du Tamagotchi</title>
        <!-- Jour 1, je sais plus coder en html, la galère -->
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
         <script type="javascript" src="{{ url_for('static', path='/script.js') }}"></script>
    </head>
    <body class="background">
        
        <header class="top_bar">
            <logo>Ahahhaha c le logo</logo>
            <div class="compte_utilisateur">
                <img src="{{ url_for('static', path='Assets/utilisateur.png') }}" class="img_utilisateur">
                <p>Parent</p>
            </div>
        </header>

        <application class="application">
            <boite_g>
                <img src="{{ url_for('static', path='Assets/chart.png') }}" alt="chart.png" class="avatar">
            </boite_g>

            <boite_d>
                    <img src="{{ url_for('static', path='Assets/image.png') }}" src="" alt="bmo_calme.png" id="face" class="avatar">
                <div class="info_tama">
                    <p>Identité</p>
                    <p>Etat</p>
                </div>
                
            </application>5()
            </boite_d>
            <actions class="actions">
                    <button class="button" id="runScriptBtn">Nourrir</button>
                    <button class="button"id="runScriptBtn">Boire</button>

            </actions>
    </body>
</html>

